.checkout__content {
  display: flex;
  flex-direction: column;
}
.accordion {
  width: 100%;
}
.userInfo {
  width: 100%;
}
@media (min-width: 576px) {
  /* ----------login------------- */
  /* .submit-btn__login {
    width: 100%;
  } */
  /* .margin-re__login {
    margin: 0 1rem !important ;
  } */
  /* ---------checkout---------- */
  /* .re-label__checkout {
    display: none;
  } */
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .checkout__content {
    flex-direction: row-reverse;
  }
  .accordion {
    pointer-events: none;
  }
  .accordion__panel {
    max-height: 100% !important;
    pointer-events: visible;
  }
}

@media (max-width: 1270px) {
  
}

@media (max-width: 1400px) {
}
