{% extends 'pages/base.html' %} {% block title %}Login{% endblock %} {% block
link %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/pages/login.css')}}"
/>
{% endblock %} {% block content %}
<div class="row">
  <div class="col-1"></div>
  <div
    class="col-5 background-white border-right"
    style="padding: var(--padding)"
  >
    <a href="#">
      <p class="heading-1 text-black">Boake - Book Store Shopify Theme</p>
    </a>
    <form action="">
      <div class="flex-row">
        <label class="text-black re-label__checkout">Họ tên</label>
        <input
          type="text"
          name=""
          placeholder="Nhập họ tên"
          maxlength="50"
          class="text-black border mb-3"
        />
      </div>
      <div class="flex-row">
        <label class="text-black re-label__checkout">Điện thoại di động</label>
        <input
          type="text"
          name=""
          placeholder="Nhập số điện thoại"
          class="text-black border mb-3"
        />
      </div>
      <div class="flex-row">
        <label class="text-black re-label__checkout">Tỉnh/Thành phố</label>
        <select
          class="form-select form-select-lg mb-3"
          aria-label="multiple select example"
          style="font-size: 1.5rem"
        >
          <option class="text-black" selected>Tỉnh/Thành phố</option>
          <option class="text-black" value="1">Hồ Chí Minh</option>
          <option class="text-black" value="2">Hà Nội</option>
          <option class="text-black" value="3">Đà Nẵng</option>
          <option class="text-black" value="1">An Giang</option>
          <option class="text-black" value="2">Bình Định</option>
          <option class="text-black" value="3">Bà Rịa - Vũng Tàu</option>
          <option class="text-black" value="1">Bắc Giang</option>
          <option class="text-black" value="2">Hải Phòng</option>
          <option class="text-black" value="1">Hồ Chí Minh</option>
          <option class="text-black" value="2">Hà Nội</option>
          <option class="text-black" value="3">Đà Nẵng</option>
          <option class="text-black" value="1">An Giang</option>
          <option class="text-black" value="2">Bình Định</option>
          <option class="text-black" value="3">Bà Rịa - Vũng Tàu</option>
          <option class="text-black" value="1">Bắc Giang</option>
          <option class="text-black" value="2">Hải Phòng</option>
          <option class="text-black" value="1">Hồ Chí Minh</option>
          <option class="text-black" value="2">Hà Nội</option>
          <option class="text-black" value="3">Đà Nẵng</option>
          <option class="text-black" value="1">An Giang</option>
          <option class="text-black" value="2">Bình Định</option>
          <option class="text-black" value="3">Bà Rịa - Vũng Tàu</option>
          <option class="text-black" value="1">Bắc Giang</option>
          <option class="text-black" value="2">Hải Phòng</option>
          <option class="text-black" value="1">Hồ Chí Minh</option>
          <option class="text-black" value="2">Hà Nội</option>
          <option class="text-black" value="3">Đà Nẵng</option>
          <option class="text-black" value="1">An Giang</option>
          <option class="text-black" value="2">Bình Định</option>
          <option class="text-black" value="3">Bà Rịa - Vũng Tàu</option>
          <option class="text-black" value="1">Bắc Giang</option>
          <option class="text-black" value="2">Hải Phòng</option>
        </select>
      </div>
      <div class="flex-row">
        <label class="text-black re-label__checkout">Quận/Huyện</label>
        <select
          class="form-select form-select-lg mb-3"
          aria-label="multiple select example"
          style="font-size: 1.5rem"
        >
          <option class="text-black" selected>Tỉnh/Thành phố</option>
          <option class="text-black" value="1">Hồ Chí Minh</option>
          <option class="text-black" value="2">Hà Nội</option>
          <option class="text-black" value="3">Đà Nẵng</option>
          <option class="text-black" value="1">An Giang</option>
          <option class="text-black" value="2">Bình Định</option>
          <option class="text-black" value="3">Bà Rịa - Vũng Tàu</option>
          <option class="text-black" value="1">Bắc Giang</option>
          <option class="text-black" value="2">Hải Phòng</option>
          <option class="text-black" value="1">Hồ Chí Minh</option>
          <option class="text-black" value="2">Hà Nội</option>
          <option class="text-black" value="3">Đà Nẵng</option>
          <option class="text-black" value="1">An Giang</option>
          <option class="text-black" value="2">Bình Định</option>
          <option class="text-black" value="3">Bà Rịa - Vũng Tàu</option>
          <option class="text-black" value="1">Bắc Giang</option>
          <option class="text-black" value="2">Hải Phòng</option>
          <option class="text-black" value="1">Hồ Chí Minh</option>
          <option class="text-black" value="2">Hà Nội</option>
          <option class="text-black" value="3">Đà Nẵng</option>
          <option class="text-black" value="1">An Giang</option>
          <option class="text-black" value="2">Bình Định</option>
          <option class="text-black" value="3">Bà Rịa - Vũng Tàu</option>
          <option class="text-black" value="1">Bắc Giang</option>
          <option class="text-black" value="2">Hải Phòng</option>
          <option class="text-black" value="1">Hồ Chí Minh</option>
          <option class="text-black" value="2">Hà Nội</option>
          <option class="text-black" value="3">Đà Nẵng</option>
          <option class="text-black" value="1">An Giang</option>
          <option class="text-black" value="2">Bình Định</option>
          <option class="text-black" value="3">Bà Rịa - Vũng Tàu</option>
          <option class="text-black" value="1">Bắc Giang</option>
          <option class="text-black" value="2">Hải Phòng</option>
        </select>
      </div>
      <div class="flex-row">
        <label class="text-black re-label__checkout">Phường/Xã</label>
        <select
          class="form-select form-select-lg mb-3"
          aria-label="multiple select example"
          style="font-size: 1.5rem"
        >
          <option class="text-black" selected>Tỉnh/Thành phố</option>
          <option class="text-black" value="1">Hồ Chí Minh</option>
          <option class="text-black" value="2">Hà Nội</option>
          <option class="text-black" value="3">Đà Nẵng</option>
          <option class="text-black" value="1">An Giang</option>
          <option class="text-black" value="2">Bình Định</option>
          <option class="text-black" value="3">Bà Rịa - Vũng Tàu</option>
          <option class="text-black" value="1">Bắc Giang</option>
          <option class="text-black" value="2">Hải Phòng</option>
          <option class="text-black" value="1">Hồ Chí Minh</option>
          <option class="text-black" value="2">Hà Nội</option>
          <option class="text-black" value="3">Đà Nẵng</option>
          <option class="text-black" value="1">An Giang</option>
          <option class="text-black" value="2">Bình Định</option>
          <option class="text-black" value="3">Bà Rịa - Vũng Tàu</option>
          <option class="text-black" value="1">Bắc Giang</option>
          <option class="text-black" value="2">Hải Phòng</option>
          <option class="text-black" value="1">Hồ Chí Minh</option>
          <option class="text-black" value="2">Hà Nội</option>
          <option class="text-black" value="3">Đà Nẵng</option>
          <option class="text-black" value="1">An Giang</option>
          <option class="text-black" value="2">Bình Định</option>
          <option class="text-black" value="3">Bà Rịa - Vũng Tàu</option>
          <option class="text-black" value="1">Bắc Giang</option>
          <option class="text-black" value="2">Hải Phòng</option>
          <option class="text-black" value="1">Hồ Chí Minh</option>
          <option class="text-black" value="2">Hà Nội</option>
          <option class="text-black" value="3">Đà Nẵng</option>
          <option class="text-black" value="1">An Giang</option>
          <option class="text-black" value="2">Bình Định</option>
          <option class="text-black" value="3">Bà Rịa - Vũng Tàu</option>
          <option class="text-black" value="1">Bắc Giang</option>
          <option class="text-black" value="2">Hải Phòng</option>
        </select>
      </div>
      <div class="flex-row">
        <label class="text-black re-label__checkout" style="width: 30%"
          >Địa chỉ</label
        >
        <textarea
          type="textarea"
          name=""
          id=""
          placeholder="Nhập địa chỉ"
          class="text-black"
        ></textarea>
      </div>
      <div class="flex-row">
        <label class="re-label__checkout"></label>
        <div class="d-flex justify-content-lg-between">
          <a href="#"
            ><button class="button btn-transparent me-5 re-btn__checkout">
              Cập nhật
            </button>
          </a>
          <a href="#"
            ><button class="button btn-transparent re-btn__checkout">
              Hủy bỏ
            </button></a
          >
        </div>
      </div>
    </form>
  </div>
  <form class="col-5 form background-white">
    <!-- Hinh 1 -->
    <div class="form__group d-flex align-items-center">
      <div class="row">
        <div class="col-1 checkout-margin">
          <label class="input input-checkbox me-2">
            <input type="checkbox" />
            <div class="checkbox border w-50">
              <svg
                fill="#000000"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 30 30"
                width="30px"
                height="30px"
              >
                <path
                  d="M 26.980469 5.9902344 A 1.0001 1.0001 0 0 0 26.292969 6.2929688 L 11 21.585938 L 4.7070312 15.292969 A 1.0001 1.0001 0 1 0 3.2929688 16.707031 L 10.292969 23.707031 A 1.0001 1.0001 0 0 0 11.707031 23.707031 L 27.707031 7.7070312 A 1.0001 1.0001 0 0 0 26.980469 5.9902344 z"
                />
              </svg>
            </div>
          </label>
        </div>
        <div class="col-2">
          <a href="#">
            <img
              src="https://bizweb.dktcdn.net/thumb/large/100/441/742/products/8fb425e1-d387-4070-9508-4f9ee0dc42e3.jpg?v=1654826957000"
              alt=""
              class="checkout-img"
          /></a>
        </div>
        <div class="col-3">
          <span class="checkout-span">
            <a href="#" class="text-black checkout-address"
              >Nỗi buồn chiến tranh</a
            ></span
          ><br />
          <br />
          <span class="text-black free-ship">Free ship toàn quốc</span>
        </div>
        <div class="col-3 productbox mt-5">
          <span class="price text-black price__checkout">1.000.000 vnd</span>
          <span class="subprice text-black subprice__checkout"
            >990.000 vnd</span
          >
        </div>
        <div class="col-2">
          <div class="input input-amount mt-5">
            <button class="text-black">-</button>
            <input type="text" value="1" style="color: black" />
            <button class="text-black">+</button>
          </div>
        </div>
        <div class="col-1 checkout-svg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="#333"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
            />
          </svg>
        </div>
      </div>
    </div>
    <!-- Hinh 2 -->
    <div class="form__group d-flex align-items-center">
      <div class="row">
        <div class="col-1 checkout-margin">
          <label class="input input-checkbox me-2">
            <input type="checkbox" />
            <div class="checkbox border w-50">
              <svg
                fill="#000000"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 30 30"
                width="30px"
                height="30px"
              >
                <path
                  d="M 26.980469 5.9902344 A 1.0001 1.0001 0 0 0 26.292969 6.2929688 L 11 21.585938 L 4.7070312 15.292969 A 1.0001 1.0001 0 1 0 3.2929688 16.707031 L 10.292969 23.707031 A 1.0001 1.0001 0 0 0 11.707031 23.707031 L 27.707031 7.7070312 A 1.0001 1.0001 0 0 0 26.980469 5.9902344 z"
                />
              </svg>
            </div>
          </label>
        </div>
        <div class="col-2">
          <a href="#">
            <img
              src="https://bizweb.dktcdn.net/thumb/large/100/441/742/products/8fb425e1-d387-4070-9508-4f9ee0dc42e3.jpg?v=1654826957000"
              alt=""
              class="checkout-img"
          /></a>
        </div>
        <div class="col-3">
          <span class="checkout-span">
            <a href="#" class="text-black checkout-address"
              >Nỗi buồn chiến tranh</a
            ></span
          ><br />
          <br />
          <span class="text-black free-ship">Free ship toàn quốc</span>
        </div>
        <div class="col-3 productbox mt-5">
          <span class="price text-black price__checkout">1.000.000 vnd</span>
          <span class="subprice text-black subprice__checkout"
            >990.000 vnd</span
          >
        </div>
        <div class="col-2">
          <div class="input input-amount mt-5">
            <button class="text-black">-</button>
            <input type="text" value="1" style="color: black" />
            <button class="text-black">+</button>
          </div>
        </div>
        <div class="col-1 checkout-svg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="#333"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
            />
          </svg>
        </div>
      </div>
    </div>
    <!-- Hinh 3 -->
    <div class="form__group d-flex align-items-center">
      <div class="row">
        <div class="col-1 checkout-margin">
          <label class="input input-checkbox me-2">
            <input type="checkbox" />
            <div class="checkbox border w-50">
              <svg
                fill="#000000"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 30 30"
                width="30px"
                height="30px"
              >
                <path
                  d="M 26.980469 5.9902344 A 1.0001 1.0001 0 0 0 26.292969 6.2929688 L 11 21.585938 L 4.7070312 15.292969 A 1.0001 1.0001 0 1 0 3.2929688 16.707031 L 10.292969 23.707031 A 1.0001 1.0001 0 0 0 11.707031 23.707031 L 27.707031 7.7070312 A 1.0001 1.0001 0 0 0 26.980469 5.9902344 z"
                />
              </svg>
            </div>
          </label>
        </div>
        <div class="col-2">
          <a href="#">
            <img
              src="https://bizweb.dktcdn.net/thumb/large/100/441/742/products/8fb425e1-d387-4070-9508-4f9ee0dc42e3.jpg?v=1654826957000"
              alt=""
              class="checkout-img"
          /></a>
        </div>
        <div class="col-3">
          <span class="checkout-span">
            <a href="#" class="text-black checkout-address"
              >Nỗi buồn chiến tranh</a
            ></span
          ><br />
          <br />
          <span class="text-black free-ship">Free ship toàn quốc</span>
        </div>
        <div class="col-3 productbox mt-5">
          <span class="price text-black price__checkout">1.000.000 vnd</span>
          <span class="subprice text-black subprice__checkout"
            >990.000 vnd</span
          >
        </div>
        <div class="col-2">
          <div class="input input-amount mt-5">
            <button class="text-black">-</button>
            <input type="text" value="1" style="color: black" />
            <button class="text-black">+</button>
          </div>
        </div>
        <div class="col-1 checkout-svg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="#333"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
            />
          </svg>
        </div>
      </div>
    </div>
    <!-- End hinh -->
  </form>
</div>

{% endblock %}
