{% extends 'pages/base.html' %} {% block title %}Login{% endblock %} {% block
link %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/pages/checkout.css')}}"
/>
{% endblock %} {% block content %}
<main id="checkout">
  <div class="container background-white">
    <p class="heading-1 text-black">Boake - Book Store Shopify Theme</p>

    {% if current_user.is_authenticated %}
    <div class="checkout__content">
      <div class="accordion p-4">
        <div class="accordion__title d-flex justify-content-between">
          <h3 class="text-black">Giỏ hàng</h3>
          <div class="cardbox">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <polygon
                points="7.293 4.707 14.586 12 7.293 19.293 8.707 20.707 17.414 12 8.707 3.293 7.293 4.707"
              />
            </svg>
          </div>
        </div>
        <div class="accordion__panel">
          {% if 'cart' in session and session['cart'] %}

          <form class="d-md-block form background-white" action="">
            {% for c in session['cart'].values() %}

            <div class="form__group d-flex align-items-center">
              <div class="row">
                <div class="col-1 checkout-margin">
                  <label class="input input-checkbox me-2 border-0">
                    <input type="checkbox" />
                    <div class="checkbox border w-50">
                      <svg
                        fill="#000000"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 30 30"
                        width="30px"
                        height="30px"
                      >
                        <path
                          d="M 26.980469 5.9902344 A 1.0001 1.0001 0 0 0 26.292969 6.2929688 L 11 21.585938 L 4.7070312 15.292969 A 1.0001 1.0001 0 1 0 3.2929688 16.707031 L 10.292969 23.707031 A 1.0001 1.0001 0 0 0 11.707031 23.707031 L 27.707031 7.7070312 A 1.0001 1.0001 0 0 0 26.980469 5.9902344 z"
                        />
                      </svg>
                    </div>
                  </label>
                </div>
                <div class="col-2">
                  <a href="#">
                    <img src="{{ c.img }}" alt="" class="checkout-img"
                  /></a>
                </div>
                <div class="col-3">
                  <span class="checkout-span">
                    <a href="#" class="text-black checkout-address"
                      >{{ c.name }}</a
                    ></span
                  ><br />
                  <br />
                  <span class="text-black free-ship">Free ship toàn quốc</span>
                </div>
                <div class="col-3 productbox mt-5">
                  <span class="price text-black price__checkout"
                    >{{ c.price }} vnd</span
                  >
                </div>
                <div class="col-2">
                  <div class="input input-amount mt-5">
                    <button class="text-black">-</button>
                    <input
                      type="text"
                      value="{{ c.quantity }}"
                      style="color: black"
                    />
                    <button class="text-black">+</button>
                  </div>
                </div>
                <div class="col-1 checkout-svg">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="#333"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                    />
                  </svg>
                </div>
              </div>
            </div>
            {% endfor %}
            <!-- End hinh -->
            <div class="alert alert-info">
              <h4 class="text-black">
                Tổng sản phẩm: {{ cart_stats.total_quantity }}
              </h4>
              <h4 class="text-black">
                Tổng tiền: {{ cart_stats.total_amount }}
              </h4>
            </div>
          </form>
          {% else %}
          <p class="text-danger col-lg-6 d-none d-lg-block">
            Không có sản phẩm nào trong giỏ
          </p>
          {% endif %}
        </div>
      </div>

      <div class="userInfo p-4">
        <form action="">
          <div class="flex-row align-items-center mb-3">
            <label class="text-black re-label__checkout">Họ tên</label>
            <input
              type="text"
              name=""
              placeholder="Nhập họ tên"
              maxlength="50"
              class="text-black border"
              value="{{current_user.name}}"
            />
          </div>
          <div class="flex-row align-items-center mb-3">
            <label class="text-black re-label__checkout"
              >Điện thoại di động</label
            >
            <input
              type="text"
              name=""
              placeholder="Nhập số điện thoại"
              class="text-black border"
              value="{{current_user.phone_number}}"
            />
          </div>
          <div class="flex-row align-items-center mb-3">
            <label class="text-black re-label__checkout">Tỉnh/Thành phố</label>
            <select
              class="form-select form__address--city"
              style="font-size: 1.5rem"
            >
              <option class="text-black" selected>Tỉnh/Thành phố</option>
            </select>
          </div>
          <div class="flex-row align-items-center mb-3">
            <label class="text-black re-label__checkout">Quận/Huyện</label>
            <select
              class="form-select form__address--district"
              style="font-size: 1.5rem"
            >
              <option class="text-black" selected>Quận/Huyện</option>
            </select>
          </div>
          <div class="flex-row align-items-center mb-3">
            <label class="text-black re-label__checkout">Phường/Xã</label>
            <select
              class="form-select form__address--ward"
              style="font-size: 1.5rem"
            >
              <option class="text-black" selected>Phường/Xã</option>
            </select>
          </div>
          <div class="flex-row align-items-center mb-3">
            <label class="text-black re-label__checkout" style="width: 30%"
              >Địa chỉ</label
            >
            <textarea
              type="textarea"
              name=""
              id=""
              placeholder="Nhập địa chỉ"
              class="text-black"
            ></textarea>
          </div>
          <div class="flex-row align-items-center mb-3 justify-content-center">
            <button class="button btn-transparent me-5 re-btn__checkout">
              Hoàn tất mua
            </button>
            <button class="button btn-transparent re-btn__checkout">
              Hủy bỏ
            </button>
          </div>
        </form>
      </div>
    </div>
    {% endif %}
  </div>
</main>
{% endblock %}{% block script %}
<script
  type="module"
  src="{{url_for('static', filename='js/pages/checkout.js')}}"
></script>
{% endblock %}
