{% extends 'pages/base.html' %} {% block title %}Home{% endblock %} {% block content %}
<main id="home page">
    <div class="container">
        <div class="row">
            <div class="col-3 home__filter"></div>
            <div class="col-9 home__shop">
                <div class="home__shop--top"></div>
                <div class="home__shop--bottom row">
                    <div class="product px-4 col-4">
                        <div class="product__img position-relative">
                            <div class="img position-relative">
                                <img src="https://cdn.shopify.com/s/files/1/1288/2297/products/1_large.png?v=1645682920"
                                    class="position-absolute top-50 start-50 translate-middle" alt="" />
                            </div>
                            <div class="btn-box position-absolute top-50 start-50 p-4">
                                <button class="button btn-transparent">
                                    Add to cart
                                </button>
                            </div>
                        </div>
                        <div class="product__info">
                            <h3><a href="">New and sale badge product</a></h3>
                            <span class="subprice">$130.00</span>
                            <span class="price">$110.00</span>
                            <div class="rate">*****</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

<!-- 
    horizontal: product.col-{number}
    vertical: product.row ==> product__img.col-4 ==> product__info.col-8
 -->