{% extends 'pages/base.html' %} {% block title %}Login{% endblock %}{% block
content %}
<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <form action="" class="form-background-white mx-auto">
      <div class="login-text font-size-16px">
        <h2 class="color-black">Login</h2>
        <p>Please login using account detail bellow.</p>
      </div>
      <input type="text" class="input-auth font-size-16px color-black" placeholder="Email / Number" />
      <input type="text" class="input-auth font-size-16px color-black" placeholder="Password" />

      <div class="space-between margin-top-bot-20px">
        <button class="button btn-org-to-white">Sign in</button>
        <a href="#" class="color-black font-size-16px">Forgot your password?</a>
      </div>
      <a href="{{ url_for('register') }}" class="color-black font-size-16px">Create account</a>
    </form>
  </div>
</div>

{% endblock %}