{% extends 'pages/base.html' %} {% block title %}Login{% endblock %} {% block
link %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/pages/login.css')}}"
/>
{% endblock %} {% block content %}
<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <form
      action="{{url_for('login')}}"
      method="post"
      class="form form__login form-bg-white mx-auto margin-re__login"
    >
      <div class="form__title">
        <h2 class="text-black">Login</h2>
        <p>Please login using account detail bellow.</p>
      </div>
      {% if err %}
      <p class="text-danger">{{err}}</p>
      {% endif %}w
      <input
        name="username"
        type="text"
        class="input input-bg-white mb-4 text-black"
        placeholder="Username"
      />
      <input
        name="password"
        type="password"
        class="input input-bg-white mb-4 text-black"
        placeholder="Password"
      />

      <div class="my-4 align-items-center">
        <button type="submit" class="button btn-org-to-white submit-btn__login">
          Sign in
        </button>
        <a href="#" class="text-black ms-auto float-end"
          >Forgot your password?</a
        >
      </div>
      <a href="{{ url_for('register') }}" class="text-black">Create account</a>
    </form>
  </div>
</div>

{% endblock %}
