{% extends 'pages/base.html' %} {% block title %}Login{% endblock %}{% block
content %}
<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <form action="" class="form-background-white mx-auto">
      <div class="login-text font-size-16px">
        <h2 class="color-black">Create Account</h2>
        <p>Please Register using account detail bellow.</p>
      </div>
      <input
        type="text"
        class="input-auth font-size-16px color-black"
        placeholder="First name"
      />
      <input
        type="text"
        class="input-auth font-size-16px color-black"
        placeholder="Last name"
      />
      <input
        type="text"
        class="input-auth font-size-16px color-black"
        placeholder="Email / Number"
      />
      <input
        type="text"
        class="input-auth font-size-16px color-black"
        placeholder="Password"
      />
      <div>
        <button class="btn-org-to-white margin-top-bot-20px">Create</button>
      </div>
      <a href="{{ url_for('index') }}" class="color-black font-size-16px"
        >Return to Store</a
      >
    </form>
  </div>
</div>

{% endblock %}
