{% extends 'pages/base.html' %} {% block title %}Login{% endblock %}{% block
content %}
<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <form
      action="{{url_for('register')}}"
      class="form form__login form-bg-white mx-auto margin-re__login"
    >
      <div class="form__title">
        <h2 class="text-black">Create Account</h2>
        <p>Please Register using account detail bellow.</p>
      </div>
      <input
        type="text"
        class="input input-bg-white mb-4 text-black"
        placeholder="First name"
      />
      <input
        type="text"
        class="input input-bg-white mb-4 text-black"
        placeholder="Last name"
      />
      <input
        type="text"
        class="input input-bg-white mb-4 text-black"
        placeholder="Email / Number"
      />
      <input
        type="text"
        class="input input-bg-white mb-4 text-black"
        placeholder="Password"
      />
      <div>
        <button class="button btn-org-to-white my-4 submit-btn__login">
          Create
        </button>
      </div>
      <a href="{{ url_for('index') }}" class="text-black">Return to Store</a>
    </form>
  </div>
</div>

{% endblock %}
