{% extends 'pages/base.html' %} {% block title %}Home{% endblock %} {% block
    content %}
    <main id="home page">
      <div class="container">
        <h1 class="text-center">My receipt</h1>

        <table class="table">
            <thead>
              <th>Mã đơn hàng</th>
              <th>Chi tiết đơn hàng</th>
              <th>Ngày đặt hàng</th>
              <th>Tình trạng</th>
              <th>Thanh toán</th>
            </thead>
            
          </table>
      </div>
    </main>
    {% endblock %} 
    
    {% block script %}
    
    {% endblock %}
    
    <!-- 
        horizontal: product.col-4
        vertical: product__img.col-4 ==> product__info.col-8
     -->
    