{% extends 'pages/base.html' %} {% block title %}Home{% endblock %} {% block
content %}
<main id="home page">
  <div class="container">
    <h1 class="text-center">My receipt</h1>

    {% if receipts %}
    <table class="table">
      <thead>
        <th>Mã đơn hàng</th>
        <th>Chi tiết đơn hàng</th>
        <th>Ngày đặt hàng</th>
        <th>Tổng tiền</th>
        <th>Tình trạng</th>
      </thead>
      <tbody>
        {% for r in receipts %} 
          <tr>
            <td>{{r.id}}</td>
            <td>
              {% if details %}
              {% for d in details %}
              <div class="row detail py-2">
                <div class="col-5">
                  <img width="100" src="{{d['book'].img}}" alt="">
                </div>
                <div class="col-7">
                  <ul>
                    <li><p>{{d['book'].name}}</p></li>
                    <li><p>Số lượng: {{d['amount']}}</p></li>
                    <li><p>Giá tiền: {{d['unit_price']}}</p></li>
                  </ul>
                  
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </td>
            <td>{{r.created_at}}</td>
            <td>
              {% if details %}
              <p>{{ details | sum(attribute='total') }}</p>
              {% endif %}
            </td>
            <td>
              {% if r.is_paid %}
                <p>Da thanh toan</p>
              {% else %}
                <p>Chua thanh toan</p>
              {% endif %}
              
            </td>
          </tr>
            
        {% endfor %}
      </tbody>
    </table>

    {% else %}
    <h1>Khong co hoa don</h1>
    {% endif %}
  </div>
</main>
{% endblock %} {% block script %} {% endblock %}

<!-- 
        horizontal: product.col-4
        vertical: product__img.col-4 ==> product__info.col-8
     -->
