{% extends 'pages/base.html' %} {% block title %}Home{% endblock %} {% block
content %}
<main id="home page">
  <div class="container">
    <h1 class="text-center mb-4">Hóa đơn của tôi</h1>

    {% if orders %}
    <table class="table">
      <thead>
        <th>Mã đơn hàng</th>
        <th>Chi tiết đơn hàng</th>
        <th>Ngày đặt hàng</th>
        <th>Tổng tiền</th>
        <th>Tình trạng</th>
      </thead>
      <tbody>
        {% for o in orders %}
        <tr>
          <td>{{o.id}}</td>
          <td>
            {% for d in o.detail %}
            <div class="row detail py-2">
              <div class="col-3">
                <img width="100%" src="{{d.book.img}}" alt="" />
              </div>
              <div class="col-9">
                <ul>
                  <li>
                    <a href="{{ url_for('detail', id=d.book.id )}}"
                      >{{d['book'].name}}</a
                    >
                  </li>
                  <li><span>Số lượng: {{d.amount}}</span></li>
                  <li><span>Giá tiền: {{d.unit_price}}</span></li>
                </ul>
              </div>
            </div>
            {% endfor %}
          </td>
          <td>{{o.created_at}}</td>
          <td>
            {% set total = namespace(value=0) %}

            {% for d in o.detail %}
            {% set total.value = total.value + d.amount * d.unit_price %} 
            {% endfor %}

            {{ "{:,.1f}".format(total.value) }} VND

          </td>
          <td>
            {% if o.is_paid %}
            <p>Đã thanh toán</p>
            {% else %}
            <button class="button">Thanh toán ngay</button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}
    <h1>Không có đơn hàng</h1>
    {% endif %}
  </div>
</main>
{% endblock %} {% block script %} {% endblock %}

<!-- 
        horizontal: product.col-4
        vertical: product__img.col-4 ==> product__info.col-8
     -->
