/* ----------header---------- */
#header {
  background-color: var(--main-bg);
  padding: var(--padding) 0;
  border-bottom: 1px solid var(--border-cl);
}

.header__logo img {
  max-width: 125px;
  width: 100%;
}

/* ----------footer---------- */
#footer {
  background-color: var(--main-bg2);
  padding: var(--padding) 0;
}

.footer__logo img {
  max-width: 200px;
  width: 100%;
}

.footer__logo {
  text-align: center;
}

.footer__text {
  max-width: 550px;
}
/* ----------button---------- */
.button {
  background-color: var(--main-cl);
  border-radius: var(--radius);
  padding: 1rem var(--padding);
  border: 1px solid transparent;
  transition: var(--t);
  white-space: nowrap;
}

.button:hover,
.button.btn-transparent {
  background-color: transparent;
  border-color: var(--main-cl);
  color: var(--main-cl);
}
.button.white-border {
  border-color: var(--text-cl);
  color: var(--text-cl);
}
.button.btn-transparent:hover {
  background-color: var(--main-cl);
  color: var(--text-cl);
}
.button.btn-no-hover {
  pointer-events: none;
}
.button.white-border:hover {
  border-color: var(--main-cl);
}
.button.btn-gray {
  background-color: var(--btn-white-to-org);
  color: black;
  /* font-size: 1.6rem; */
}

.btn-org-to-white {
  background-color: var(--gray-cl);
  color: black;
  font-size: 1.6rem;
  padding: .8rem var(--padding);
}
.btn-org-to-white:hover {
  background-color: var(--main-cl);
  color: white;
}
/* ----------form---------- */
.form {
  background-color: #f1f1f1;
  padding: 3.7rem 4.7rem;
  margin: 10rem;

}
/* ----------input---------- */
.input.input-bg-white {
  background-color: white;

}

/* ----------product---------- */
.product {
  border: 1px solid var(--border-cl);
}
.product__img {
  min-height: 1px;
}
.product__img .img {
  overflow: hidden;
  height: 40rem;
}
.product__img .img img {
  width: 100%;
}
.product__img .btn-box {
  background-color: var(--main-bg);
  border-radius: 3rem;
  transform: translate(-50%, -50%) scaleY(0);
  transition: var(--t);
}
.product:hover .btn-box {
  transform: translate(-50%, -50%) scaleY(1);
}
.product .price {
  color: var(--main-cl);
  font-weight: 700;
}
.product .subprice {
  text-decoration: line-through;
  vertical-align: text-top;
  font-size: 1.5rem;
}
.product .description {
  font-size: 1.6rem;
}

@media (max-width: 576px) {
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1400px) {
}
