/* ----------header---------- */
#header {
  background-color: var(--main-bg);
  border-bottom: 1px solid var(--border-cl);
}

#header .container {
  position: relative;
  padding: var(--padding) 0;
}

.header__logo img {
  max-width: 125px;
  width: 100%;
}

.header__box {
  position: absolute;
  top: 100%;
  right: 0;
  padding: var(--padding);
  background-color: #00001d;
  box-shadow: 10px 25px 80px #96969626;
  max-width: 30rem;
  width: 100%;
  display: none !important;
  z-index: 1000;
}

.header__box.active {
  display: block !important;
}

.header__box h4 {
  font-size: 2rem;
  border-bottom: 1px solid white;
  padding: 1rem 0;
}
.header__box a {
  display: block;
  padding: 1rem 0;
  text-transform: capitalize;
}

/* ----------footer---------- */
#footer {
  background-color: var(--main-bg2);
  padding: var(--padding) 0;
}

.footer__logo img {
  max-width: 200px;
  width: 100%;
}

.footer__logo {
  text-align: center;
}

.footer__text {
  max-width: 550px;
}
/* ----------button---------- */
.button {
  background-color: var(--main-cl);
  border-radius: var(--radius);
  padding: 1rem var(--padding);
  border: 1px solid transparent;
  transition: var(--t);
  white-space: nowrap;
  cursor: pointer;
}

.button:hover,
.button.btn-transparent {
  background-color: transparent;
  border-color: var(--main-cl);
  color: var(--main-cl);
}
.button.btn-transparent:hover {
  background-color: var(--main-cl);
  color: var(--text-cl);
}
.button.white-border {
  border-color: var(--text-cl);
  color: var(--text-cl);
}
.button.white-border:hover {
  border-color: var(--main-cl);
}
.button.btn-no-hover {
  pointer-events: none;
}

.button.btn-gray {
  background-color: var(--btn-white-to-org);
  color: black;
}
.button.btn-black {
  background-color: #1f2226;
}
.button.btn-black:hover {
  background-color: var(--main-cl);
  color: white;
}

.btn-org-to-white {
  background-color: var(--gray-cl);
  color: black;
  font-size: 1.6rem;
  padding: 0.8rem var(--padding);
}
.btn-org-to-white:hover {
  background-color: var(--main-cl);
  color: white;
}

.button.btn-max-content {
  width: max-content;
}
/* ----------form---------- */
.form {
}
.form .input {
  border: 1px solid #dee2e6;
}

.form__login {
  padding: 3.7rem 4.7rem;
  margin: 10rem;
}
.form.form-bg-white {
  background-color: #f1f1f1;
}

.form__group {
  margin: 1rem 0;
}
.form__title {
  text-align: center;
  margin-bottom: 30px;
}
.form__title h2 {
  font-size: 3rem;
}

.form__title p {
  color: #666;
}
/* ----------input---------- */
.input.input-bg-white {
  background-color: white;
}
.input.input-checkbox {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
}
.input.input-checkbox input {
  display: none;
}
.input.input-checkbox span {
}

.input.input-checkbox .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--gray-cl);
  border-radius: 2px;
  margin-right: 1rem;
}
.input.input-checkbox .checkbox svg {
  display: none;
}
.input.input-checkbox input:checked ~ .checkbox {
  background-color: red;
}
.input.input-checkbox input:checked ~ .checkbox svg {
  display: block;
}

.input.input-amount {
  display: inline-flex;
  border: 1px solid var(--border-cl);
  min-height: 5rem;
}
.input.input-amount input {
  max-width: 3rem;
  color: white;
  padding: 0;
  text-align: center;
  border: none;
}
.input.input-amount button {
  background-color: transparent;
  padding: 0 0.7rem;
}
/* date */
.input.input-date {
  background-color: transparent;
  border: 1px solid var(--border-cl);
  padding: 1rem;
}
.input-date.input-dark {
  color-scheme: dark;
}
/* ----------product---------- */
.product {
  border: 1px solid var(--border-cl);
}

.product:hover h3 {
  color: var(--main-cl);
  transition: var(--t);
}
.product:hover .product__img .img img {
  transform: translate(-50%, -50%) scale(1);
}
.product__img .img {
  overflow: hidden;
  height: 30rem;
  position: relative;
}
.product__img .img img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.8);
  transition: var(--t);
  object-fit: contain;
  }
.product .price {
  color: var(--main-cl);
  font-weight: 700;
}
.product .subprice {
  text-decoration: line-through;
  vertical-align: text-top;
  font-size: 1.5rem;
}
.product .description {
  font-size: 1.6rem;
  display: none;
}
.product.row .description {
  display: block;
}
/* ----------accordion---------- */
.accordion {
  padding: 1rem 0;
  user-select: none;
  transition: var(--t);
}
.accordion__title svg,
.accordion__title h3 {
  transition: var(--t);
}

.accordion.active .accordion__title svg {
  transform: rotate(90deg);
}
.accordion.active .accordion__title svg,
.accordion.active .accordion__title h3,
.accordion__title:hover svg,
.accordion__title:hover h3 {
  color: var(--main-cl);
  fill: var(--main-cl);
}

.accordion label {
  width: 10rem;
}

.accordion__title {
  cursor: pointer;
}
.accordion__title h3 {
  font-size: 2.2rem;
}

.accordion__panel {
  transition: var(--t);
  overflow: hidden;
  max-height: 0;
}

/* ----------table---------- */
.table {
  border-collapse: collapse;
}

.table tr,
.table td,
.table th {
  border: 1px solid var(--border-cl) !important;
  padding: 2rem;
}

@media (max-width: 576px) {
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1400px) {
}
