/* ----------cardbox---------- */
.cardbox {
  width: 2.5rem;
  cursor: pointer;
}
.cardbox svg {
  width: 100%;
  fill: var(--text-cl);
}
.cardbox:hover svg,
.cardbox.active svg {
  fill: var(--main-cl);
  transition: var(--t);
}
.cardbox-parent {
  /* use this class when use cardbox.active */
  /* use for parrent */
}

/* ---------text-black-------- */
.text-black {
  color: black;
}

/* -------background-white--------- */
.background-white {
  background-color: white;
}

/* -----font-size-------- */
.heading-1 {
  font-size: 1.8em;
}

/* -----------label----------- */
label {
  cursor: default;
}

/* -----------flex-row---------------- */
.flex-row {
  display: flex;
  flex-direction: row;
  padding: 0.7rem;
}
.flex-row > label {
  width: 40%;
}
/* --------border----------- */
.border-right {
  border-right: 1px solid silver;
}
.border {
  border: 1px solid silver;
}
/* ---------text-area-------- */
textarea {
  width: 76%;
}

/* ------check-out----------- */
.checkout-img {
  width: 100%;
  max-width: 6em;
  margin: 0 1rem 1rem;
}
.checkout-margin {
  margin-top: 5rem;
}
.free-ship {
  font-weight: bold;
  animation-name: changecolor-checkout;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.checkout-address:hover {
  color: blue;
}
.checkout-svg svg {
  fill: black;
}
.re-svg-none {
  visibility: hidden;
}
@keyframes changecolor-checkout {
  from {
    color: darkgreen;
  }
  to {
    color: red;
  }
}

/* ------price----------- */
.price {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--main-cl);
}
.price__checkout {
  font-size: 2.1rem !important;
}
.subprice__checkout {
  font-size: 1.5rem !important;
}
.subprice {
  font-size: 1.8rem;
  vertical-align: top;
  position: relative;
  color: #4a4a4a;
  white-space: nowrap;
}
.subprice::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: var(--main-cl);
}

/* ----------form-select---------- */
.form-select {
  padding: 1rem var(--padding);
}


@media (max-width: 576px) {
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
}

@media (max-width: 1270px) {
}

@media (max-width: 1400px) {
}
