/* ----------cardbox---------- */
.cardbox {
    width: 2.5rem;
    cursor: pointer;
}
.cardbox svg {
    width: 100%;
    fill: var(--text-cl);
}
.cardbox:hover svg,.cardbox.active svg {
    fill: var(--main-cl);
    transition: var(--t);
}
.cardbox-parent {
    /* use this class when use cardbox.active */
    /* use for parrent */
}

/* ---------text-black-------- */
.text-black {
    color: black;
}

@media (max-width: 576px) {  }

@media (max-width: 768px) {  }

@media (max-width: 992px) {  }

@media (max-width: 1200px) {  }

@media (max-width: 1400px) {  }