/* ----------cardbox---------- */
.cardbox {
    width: 2.5rem;
    cursor: pointer;
}
.cardbox:hover svg {
    fill: var(--main-cl);
    transition: var(--t);
}

@media (max-width: 576px) {  }

@media (max-width: 768px) {  }

@media (max-width: 992px) {  }

@media (max-width: 1200px) {  }

@media (max-width: 1400px) {  }