{% extends 'admin/master.html' %} 
{% block head_css %}
{{ super() }}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/libs/bootstrap.min.css')}}"
/>
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/variable.css')}}"
/>
<link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/components.css')}}"
/>

<!-- js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{url_for('static', filename='js/libs/bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='js/libs/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/libs/bootstrap.min.js')}}"></script>
<script type="module" src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}

{
