{% extends 'admin/base_view.html'%} {% block head_css %} {{super()}}
<script src="{{url_for('static', filename='js/admin/importBook.js')}}"></script>
{% endblock%} {% block body %}
<main>
  <h1 class="text-center">Import book</h1>
  <form class="form">
    <div class="form__group d-flex align-items-center justify-content-end">
      <input
        id="date"
        name="date"
        type="date"
        class="input input-date input-dark"
      />
    </div>
  </form>
  {% if note_detail and note_detail.books %}
  <table class="table">
    <thead>
      <th>STT</th>
      <th>Sách</th>
      <th>Thể loại</th>
      <th>Tác giả</th>
      <th>Số lượng</th>
    </thead>
    <tbody>
      {% for detail in note_detail.books %}
      <tr>
        <td>{{detail.book.id}}</td>
        <td>{{detail.book.name}}</td>
        <td>
          {% for cate in detail.book.category %}
            {{cate}}{{ "," if not loop.last }}
          {% endfor %}
        </td>
        <td>{{detail.book.author}}</td>
        <td>{{detail.amount}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <button note_id="{{note_detail.note_id}}" id='submitImport' class="button btn-max-content">Hoàn tất nhập sách</button>
  {% else %}
  <h1 class="text-center">Không có phiếu nhập</h1>
  {% endif %}
</main>
{% endblock %}
