{% extends 'admin/base_view.html'%} {% block head_css %} {{ super() }}
<script src="{{ url_for('static', filename='js/admin/payOrder.js') }}"></script>
{% endblock %} {% block body %}
<main id="pay_order">
  <h1 class="text-center">Thanh toán đơn đặt hàng</h1>

  <form action="/admin/pay_order" class="form" method="post">
    <div class="form__group d-flex w-50 mx-auto">
      <input
        class="input me-4"
        type="text"
        placeholder="Nhập mã đơn hàng"
        name="order_id"
      />
      <button class="button">Tìm kiếm</button>
    </div>
  </form>

  {% if err %}
  <h1 class="text-center mt-5">{{err}}</h1>
  {% else %} {% if order and order.list %}
  <table class="table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Sản phẩm</th>
        <th>Số lượng</th>
        <th>Đơn giá</th>
      </tr>
    </thead>
    <tbody>
      {% for d in order.list %}
      <tr>
        <td>{{loop.index}}</td>
        <td>
          <div class="row">
            <div class="col-4">
              <img src="{{d.book.img}}" alt="" />
            </div>
            <ul class="col-8">
              <li><h2 style="display: inline-block">{{d.book.name}}</h2></li>
              <li><h3>Tác giả: {{d.book.author}}</h3></li>
            </ul>
          </div>
        </td>
        <td>{{d.amount}}</td>
        <td>{{d.unit_price}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="totalbox text-end">
    <h1 style="display: inline-block">Tổng cộng: {{order.total}}</h1>

    {% if order.is_paid %}
    <h1>Đã thanh toán</h1>
    {% else %}
    <button id="payOrder" class="button ms-4" order_id="{{order.id}}">
      Thanh toán ngay
    </button>
    {% endif %}
  </div>
  {% else %}
  <h1 class="text-center mt-5">Chưa chọn đơn hàng</h1>
  {% endif %} {% endif %}
</main>
{% endblock %}
