{% extends 'admin/base_view.html' %} {% block head_css %} {{super()}}
<script src="{{ url_for('static', filename='js/admin/stats.js') }}"></script>

{% endblock %} {% block body %}

<main id="statspage">
  {% if current_user.is_authenticated %}
  <div class="stats">
    <div class="row mb-4">
      <h3 class="stats__title col-12 text-center mb-4 text-main">
        BÁO CÁO DOANH THU THEO THÁNG
      </h3>

      <div class="stats__table col-12 col-md-6">
        <form action="" class="form">
          <div class="form__group">
            <select
              class="form-select bg-dark text-white"
              name="month"
              style="font-size: 1.5rem; border-color: var(--border-cl)"
            >
              <option class="text-white" selected value="">Tháng 1</option>
              <option class="text-white" value="">Tháng 2</option>
              <option class="text-white" value="">Tháng 3</option>
              <option class="text-white" value="">Tháng 4</option>
              <option class="text-white" value="">Tháng 5</option>
              <option class="text-white" value="">Tháng 6</option>
              <option class="text-white" value="">Tháng 7</option>
              <option class="text-white" value="">Tháng 8</option>
              <option class="text-white" value="">Tháng 9</option>
              <option class="text-white" value="">Tháng 10</option>
              <option class="text-white" value="">Tháng 11</option>
              <option class="text-white" value="">Tháng 12</option>
            </select>
          </div>
        </form>

        <table class="table">
          <thead>
            <tr>
              <th>STT</th>
              <th>Thể loại sách</th>
              <th>Doanh thu</th>
              <th>Số lượt mua</th>
              <th>Tỷ lệ</th>
            </tr>
          </thead>
          <tbody>
            {% if categories %}
            {% for c in categories.values() %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ c.name }}</td>
                <td>{{ "{:,.1f} VND".format(c.turnover)}}</td>
                <td>{{ c.total_amount }}</td>
                <td>{{ c.rate }}%</td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>

      <div class="stats__char col-12 col-md-6">
        <canvas id="myChart"></canvas>
      </div>
    </div>

    <div class="row">
      <h3 class="stats__title col-12 text-center mb-4 text-main">
        BÁO CÁO TẦN SUẤT SÁCH BÁN
      </h3>
      <div class="stats__table col-12 col-md-6">
        <form action="" class="form">
            <div class="form__group">
              <select
                class="form-select bg-dark text-white"
                name="month"
                style="font-size: 1.5rem; border-color: var(--border-cl)"
              >
                <option class="text-white" selected value="">Tháng 1</option>
                <option class="text-white" value="">Tháng 2</option>
                <option class="text-white" value="">Tháng 3</option>
                <option class="text-white" value="">Tháng 4</option>
                <option class="text-white" value="">Tháng 5</option>
                <option class="text-white" value="">Tháng 6</option>
                <option class="text-white" value="">Tháng 7</option>
                <option class="text-white" value="">Tháng 8</option>
                <option class="text-white" value="">Tháng 9</option>
                <option class="text-white" value="">Tháng 10</option>
                <option class="text-white" value="">Tháng 11</option>
                <option class="text-white" value="">Tháng 12</option>
              </select>
            </div>
          </form>
        <table class="table">
          <thead>
            <tr>
              <th>STT</th>
              <th>Tên sách</th>
              <th>Thể loại</th>
              <th>Số lượng</th>
              <th>Tỷ lệ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <th>One piece</th>
              <th>Anime</th>
              <th>50</th>
              <th>50%</th>
            </tr>
            <tr>
              <th>2</th>
              <th>Naruto</th>
              <th>Manga</th>
              <th>20</th>
              <th>20%</th>
            </tr>
            <tr>
              <th>3</th>
              <th>One punch man</th>
              <th>Anime</th>
              <th>30</th>
              <th>30%</th>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="stats__char col-12 col-md-6">
        <canvas id="myChart2"></canvas>
      </div>
    </div>
  </div>
  {% endif %}
</main>
{% endblock body %}
